#writer{
  padding:5px 0 5px 10px;
  border-top: 1px #ddd solid;
  background: #efefef;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  width: 100%;
  position: fixed;
  bottom:0px;
  left:0;
  right:0;
  form{
    .form-group{
      margin-bottom: 0;
    }
    input{
      width:325px;
      display: inline-block;
    }
    button{
      margin-left: 5px;
      padding: 2px 6px;
      color: #2B67F2;
      border:none;
      font-size: 18px;
      background: none;
      position: relative;
      top:2px;
      i{
        position: relative;
        top:-1px;
        left:-2px;
      }
    }
  } 
}